---
layout: default
title: About
type: utility
order: 1
---

<p>
  LofiAI is an application of <a href=https://openai.com/blog/jukebox/>OpenAI's Jukebox</a> where the underlying neural net has been trained on a collection of Lofi Hip-Hop songs.
  Specifically the top-level prior has been retrained whilst reusing Jukebox's pretrained models - as described in Jukebox's README.
</p>
