---
layout: default
title: LofiAI
type: utility
order: 0
---

<audio controls id="audio">
  Your browser does not support the audio element.
</audio>

<ul class="sample_list">
{% assign samples = site.static_files | where: "sample", true %}
{% for sample in samples %}
<li class="sample_entry">{{ sample.basename }}</li>
{% endfor %}
</ul>

<script src="index.js"></script>
