// Color vars
$text-color: #000000;
$link-color: #A80000;
$visited-color: #F07B6C;
$hover-color: #FF3700;
$light_grey: #888888;
$subtle_grey: #DDDDDD;

// Font vars
$font-base-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
$font-base-sans-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-base-mono-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
$font-base-size:   1em;
$font-base-weight: normal;
$font-header-size: 1.5em;
$font-title-size: 1.8em;
$font-sub-size: 0.8em;
$font-sub-weight: normal;
$font-post-size: 1.2em;

// Other variables
$shadow: 0px 0px 10px #AAAAAA;
