@charset "utf-8";

body {
    font-size: $font-base-size;
    font-weight: $font-base-weight;
    font-family: $font-base-sans-family;
}

ul {
    list-style-type: none;
}

a {
    &:link {
        color: $light_grey;
    }
    &:visited {
        color: $light_grey;
    }
    &:hover {
        color: black;
    }
}

.light-font {
    color: $light_grey;
}

.box {
    height: 40px;
    width: 250px;
    padding: 5px 10px; // Top 5; Sides 10
    border-width: 1px;
    border-bottom-width: 0px; // Only last child will have a top border
    border-color: $light_grey;
    position: relative;

    &:last-of-type {
        border-bottom-width: 1px;
    }
}

.horizontal-center {
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Aligns content along a horizontal line
// When mobile consume width
.column {
    display: inline-block;
    height: auto;
    margin-bottom: 2em;
    vertical-align: middle;

    & > * {
        vertical-align: inherit;
    }
}

@media only screen and (max-width: 1023px) {
    .column {
        display: block;
        margin: auto;
    }

    .column > div {
        margin: auto
    }
}

// Place class in a location around center
.float-middle {
    position: absolute;
    top: 30%;
    left: 200px;
}

// 100% width + height
.consume {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}

@mixin any-mixin($prop, $values...)
{
    #{"-webkit-" + $prop}: $values;
     #{"-khtml-" + $prop}: $values;
       #{"-moz-" + $prop}: $values;
         #{"-o-" + $prop}: $values;
                    $prop: $values;
}

.unselectable {
    @include any-mixin(user-select, none);
    pointer-events: none;
}

#input {
    display: inline;
}

#title {
    font-size: 36pt;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 8vh;
}

// Utilizes rust css's button
#submit {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: inline;
}


